body{
    background-image: url(/img/111.jpg);
    background-size: cover;
}
.mmy-famely {
    color: darkred;
    font-size: 100px;
    text-align: center;
}
.foto-mama {
    color: rgb(140, 233, 97);

}
